<!-- 
Begin Release Highlights - RH-JNPR-R7-2018-10-02-01
-->
<p>
This release of the hardened RedHat 7 has only 2 minor issues as noted
      below. Any issues with this release, please contact the
<a
        href="mailto:security-remediation-admins@juniper.net?subject=JNPR-R7-2018-10-02-01%20Issues">Security Remediation team</a>
<p>
<ul>

<li><b>jnprcfg-resolv</b> - 
<a target="_blank"
          href="https://it-gitlab.junipercloud.net/sunrise/jnprcfg_resolve/issues/6">Issue 6</a> 
Cfg Script not Being Invoked on Image. The root cause of this is a DNS
        server is not responding. 
</li>


<li><b>image-factory</b> - 
<a target="_blank"
          href="https://it-gitlab.junipercloud.net/sunrise/image-factory/issues/19">Issue 19</a> 
R7 Redhat adding redhat.repo causes failure. The required redhat.repo,
        which is not being used, is missing. RedHat requires the file to be
        there.
</li>
</ul>

<!-- 
End Release Highlights - RH-JNPR-R7-2018-10-02-01
-->