<!-- 
Begin Release Highlights - RH-Alpha-JNPR-U16-2018-09-16-03-nuke 
-->

<ul>
<li><b>User Nuke</b> - A security feature that allows a user to login to the base
        admin account, jnpradmin, in order to create their own admin
        account. The use has 35 minutes to create the new admin account and
        give it sudo privledges. At the end of the 35 minutes the base
        admin account is forced off the system, the account and group are
        deleated.<p>
          <a target="_blank"
            href="https://junipernetworks.sharepoint.com/teams/Junos/eng-tools/operationsunrise/Operation%20Sunrise%20%20Public%20Information/Forms/AllItems.aspx?slrid=22b48f9e-e060-6000-3fd0-a9f250891de9&FolderCTID=0x0120002CCFE02EAA4A9F4584319E118579B32F&id=%2Fteams%2FJunos%2Feng-tools%2Foperationsunrise%2FOperation%20Sunrise%20%20Public%20Information%2FDocs%20Specs%20and%20How-to%2FKerberos%2C%20Login%20and%20related%20How-To%27s%2Faccount-creation%2Ehtml&parent=%2Fteams%2FJunos%2Feng-tools%2Foperationsunrise%2FOperation%20Sunrise%20%20Public%20Information%2FDocs%20Specs%20and%20How-to%2FKerberos%2C%20Login%20and%20related%20How-To%27s">Further instructions</a></li>
<li><b>jnprcfg-lynis-plugin-sshidle</b> - 
<a target="_blank" href="https://it-gitlab.junipercloud.net/sunrise/jnprcfg-lynis/issues/4">Issue 4</a> Chk Script Fail Reason="/etc/lynis/custom.prf" has been modified. </li>

<li><b>jnprcfg-lynis</b> - 
<a target="_blank" href="https://it-gitlab.junipercloud.net/sunrise/jnprcfg-lynis/issues/4">Issue 4</a> Chk Script Fail Reason="/etc/lynis/custom.prf" has been modified. </li>


<li><b>jnprcfg-sshs</b> - 
<a target="_blank" href="https://it-gitlab.junipercloud.net/sunrise/jnprcfg-sshd/issues/9">Issue 9</a> Cfg script not Being Invoked on Image Build
</li>
</ul>

<!-- 
End Release Highlights - RH-Alpha-JNPR-U16-2018-09-16-03-nuke 
-->