<!-- 
  Begin foreman-ks
-->
<div class="block_text">
  <div class="header1">Foreman KS</div>
  <ul>
    <li>KS URL: {{ preseed }}</li>
    <li>Hostgroup: {{ hostgroup }}</li>
    <li>Provisioning template: {{provisionTemplate }}</li>
  </ul>
</div>
<!-- 
  End foreman-ks
-->

