<!-- 
  Begin information-links
-->
<div class="block_text">
  <div class="header1">Release Highlights</div>
  <ul>
    <li>A highlight goes here</li>
  </ul>
  <p><p>
<hr>
</div>
<!-- 
  End information-links
-->
