<!-- 
  Begin intro
-->
<div class="navbar">
  <div class="w3-container">
    <div class="w3-bar">
      <div class="w3-bar-item">{{ release }}</div>
    </div>
  </div>
</div>

<p><p><p><p>
nbsp;nbsp;nbsp;nbsp;
<p><p><p><p>
<table><tbody><tr><td></td></tr></tbody></table>

<div class="block_text">
  <div class="header1">Release Notes</div>
  <ul>
<!--
    <li>Base OS: {{ osName }} {{ osVersion }}</li>
-->
    <li>Base OS: {{ osName }} {{ fullRel }}</li>
    <li>Kernel Version; {{ kernelRel }}
    <li>Release Name: {{ release }}</li>
    <li>Release Date: {{ date }}</li>
    <li>Release Notes Date: {{ notesDate }}</li>
    <li>OVA: {{ ovaPath }}</li>
<!--
    <li>OVA SHA256: {{ ovaSHA256 }}</li>
-->
  </ul>
</div>
<!-- 
  End intro
-->
