<!-- 
  Begin jnpr-links
-->
<div class="block_text">
<div class="header1">Image Attestation</div>
<ul>
<li><a target="_blank" href="https://junipernetworks.sharepoint.com/:w:/t/Junos/eng-tools/operationsunrise/ETReFijII0NAmC_rWcATgScBZChE8uxcd3cvPkrUSFaIkg?e=EQH9nP">Software Compliance</a></li>

<!--
<li><a target="_blank" href="http://opsun-foreman-02.juniper.net/unattended/template/ksCentU/C_6UStable">Image Creation Procedure (CentOS)</a></li>

<li><a target="_blank" href="http://opsun-foreman-02.juniper.net/unattended/template/Preseed_U/U_1604U">Image Creation Procedure (Ubuntu)</a></li>

<li><a target="_blank" href="http://opsun-foreman-02.juniper.net/unattended/template/ksCentU/C_6UStable">Package or Software List (CentOS)</a></li>

<li><a target="_blank" href="http://opsun-foreman-02.juniper.net/unattended/template/Preseed_U/U_1604U">Package or Software List (Ubuntu)</a></li>
-->

<li><a target="_blank" href="{{ templateString }}">Image Creation Procedure ({{ osName }})</a></li>

<li><a target="_blank" href="{{ templateString }}">Package or Software List ({{ osName }})</a></li>

<li><a target="_blank" href="https://junipernetworks.sharepoint.com/:w:/t/Junos/eng-tools/operationsunrise/EZIZKbRxaHJJiiwCNI8MoMwBACQMSQn2wOVLNXefJyN2tQ?e=FnHRwd">Hardening Control List</a></li>

<li><a target="_blank" href="https://it-gitlab.junipercloud.net/sunrise/jnprcfg_syslog-ng">Logging</a></li>

<li><a target="_blank" href="https://it-gitlab.junipercloud.net/sunrise/jnprcfg_auditd">Audit</a></li>

<li><a target="_blank" href="https://junipernetworks.sharepoint.com/:w:/t/Junos/eng-tools/operationsunrise/EW3gKLH5A4FBi_YbWX_8ZgwBQbtijocOBB1vf2EG58MXXw?e=LKNyGX">Authentication and Authorization</a></li>

<li><a target="_blank" href="https://junipernetworks.sharepoint.com/:w:/t/Junos/eng-tools/operationsunrise/EUydKSTFviVPiUDMadcOz80B7IK78ynJvTGTR_PB51Bb8g?e=s9IPtz">Malware Scanning</a></li>


<li><a target="_blank" href="https://junipernetworks.sharepoint.com/:w:/t/Junos/eng-tools/operationsunrise/EX5x3J1jqu9KkM0S11Y2wnABCpbHvjimDzDpBdHYhjTfrA?e=B9LKZq">Image Testing Report</a></li>

</ul>
</div>
<!-- 
  End jnpr-links
-->

